svg(xmlns="http://www.w3.org/2000/svg", xml:space="preserve", [attr.width]="width", version="1.1", viewBox="0 0 101 58.17",  xmlns:xlink="http://www.w3.org/1999/xlink")
    defs
    g(id="Capa_x0020_1")
        rect.contenedor(x="0.05" y="-0.01" width="100.82" height="57.86")
        rect.cont-dash(class="fil1" x="21.11" y="11.73" width="73.8" height="41.51")
        rect.menu(class="fil1" x="4.97" y="11.73" width="13.84" height="41.51")
        rect.cabecera.fil1(x="4.36" y="3.41" width="90.64" height="5.5")
        circle.pie(class="fil2" cx="76.46" cy="32.48" r="8.07")
        rect.lines(class="fil2" x="5.77" y="16.34" width="13.04" height="1")
        rect.lines(class="fil2" x="5.77" y="20.95" width="13.04" height="1")
        rect.lines(class="fil2" x="5.77" y="25.06" width="13.04" height="1")
        rect.large(class="fil2" x="23.42" y="16.34" width="18.45" height="32.29")
        rect.dash(class="fil2" x="44.17" y="16.34" width="18.45" height="9.22")
        rect.dash(class="fil2" x="44.17" y="27.87" width="18.45" height="9.22")
        rect.dash(class="fil2" x="44.17" y="39.4" width="18.45" height="9.22")
