section.theme-ancaor.height-100(id="inicio-ancaor")
    div(id="logo-ancaor", [ngClass]="{ 'scale' : top , 'ancaor' : true }")
        div([ngClass]="{ 'ancaor__isotipo' : true }")
        //- .ancaor__diamond
        //- .ancaor__left
        //- .ancaor__righ
        img.logo(src="./assets/images/svg/ancaor_isotipo.svg", alt="ancaor")
section.theme-ancaor.height-100(id="project-ancaor")
    .contenido
        .row
            h3.title Mis proyectos
section.theme-ancaor.height-100(id="art-ancaor")
    .contenido
        .row
            h3.title Art by Lykrune