
<section class="theme-ancaor height-100" id="inicio-ancaor">
  <div id="logo-ancaor" [ngClass]="{ 'scale' : top , 'ancaor' : true }">
    <div [ngClass]="{ 'ancaor__isotipo' : true }"></div><img class="logo" src="./assets/images/svg/ancaor_isotipo.svg" alt="ancaor">
  </div>
</section>
<section class="theme-ancaor height-100" id="project-ancaor">
  <div class="contenido">
    <div class="row">
      <h3 class="title">Mis proyectos</h3>
    </div>
  </div>
</section>
<section class="theme-ancaor height-100" id="art-ancaor">
  <div class="contenido">
    <div class="row">
      <h3 class="title">Art by Lykrune</h3>
    </div>
  </div>
</section>