svg(xmlns="http://www.w3.org/2000/svg", version="1.1", viewBox="0 0 801 566.36", [attr.width]="width")
    defs
    g(id="Capa_x0020_1")
        path(class="fil0", d="M612.65 129.57l-89.27 89.27c-13.34,13.34 -35.1,13.34 -48.45,0l-19.85 -19.74c-13.34,-13.35 -13.34,-35.1 0,-48.45 8.19,-8.19 8.19,-21.53 0,-29.72l-29.83 -29.83c-8.18,-8.19 -21.53,-8.19 -29.72,0l-32.63 32.63 -9.42 -9.42 32.63 -32.63c13.35,-13.35 35.1,-13.35 48.45,0l29.83 29.83c13.35,13.35 13.35,35.1 0,48.45 -8.18,8.19 -8.18,21.53 0,29.72l19.74 19.74c8.19,8.18 21.53,8.18 29.72,0l92.07 -92.08c2.47,4.04 4.71,8.08 6.73,12.23z")
        polygon(class="fil1", points="362,145.83 331.5,115.21 355.94,100.97 376.24,121.38")
        path(class="fil2", d="M558.71 331.21l-269.83 -269.94c-7.63,-7.63 -20.07,-7.63 -27.7,0l-142.65 142.76c-7.63,7.63 -7.63,20.08 0,27.7l269.94 269.95c7.62,7.62 20.07,7.62 27.7,0l142.65 -142.66c7.63,-7.74 7.63,-20.18 -0.11,-27.81z")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 315.007 166.139)" width="88.82" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 355.347 206.475)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 395.709 246.851)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 436.082 287.227)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 476.444 327.602)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 516.818 367.978)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 236.511 163.823)" width="31.74" height="31.74")
        rect(class="fil5", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 276.873 204.198)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 317.326 244.494)" width="31.74" height="31.74")
        rect(class="fil5", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 357.688 284.869)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 398.062 325.245)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 438.424 365.62)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 478.797 405.996)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 198.49 201.85)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 238.863 242.227)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 279.226 282.603)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 319.679 322.899)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 400.37 403.599)" width="88.82" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 440.788 444.025)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 160.47 239.875)" width="31.74" height="31.74")
        rect.space(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 321.898 401.318)" width="202.99" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 362.394 441.669)" width="31.74" height="31.74")
        rect(class="fil3", transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 402.767 482.044)" width="31.74" height="31.74")