//- section.footer.c-white
//-     .sub-footer
//-     mat-divider
//-     .footer-principal
//-         p Design by
//-             a  Lykrune ©
//-         .spacer
//-         P Powered by Ancaor ©2016-2018.