
<div class="theme-ancaor fixed" id="header">
  <div class="header-principal">
    <p class="c-white m-auto t-ancaor">Ancaor</p>
    <div class="spacer"></div><a class="icon-a" href="https://github.com/AncaorDev" target="_blank"><img class="class-icon class-github" src="./assets/images/svg/github_icon3.svg" alt="gh"></a><a class="icon-a" href="https://www.facebook.com/ancaor.dev" target="_blank"><img class="class-icon class-fb" src="./assets/images/svg/fb_icon.svg" alt="fb"></a><a class="icon-a"><img class="class-icon class-fb" mat-button src="./assets/images/svg/twitter_icon.svg" alt="tw"></a>
    <button class="c-white" mat-icon-button mat-button (click)="enviar()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</div>