.theme-ancaor.fixed(id="header")
    .header-principal
        p.c-white.m-auto.t-ancaor Ancaor
        .spacer
        a.icon-a(href="https://github.com/AncaorDev", target="_blank")
            img.class-icon.class-github(src="./assets/images/svg/github_icon3.svg", alt="gh")
        a.icon-a(href="https://www.facebook.com/ancaor.dev", target="_blank")
            img.class-icon.class-fb(src="./assets/images/svg/fb_icon.svg", alt="fb")
        a.icon-a
            img.class-icon.class-fb( mat-button, src="./assets/images/svg/twitter_icon.svg", alt="tw")
        button.c-white(mat-icon-button, mat-button, (click)="enviar()")
            mat-icon home