@import './../../variables.scss';

$size   : 10vw;
$size2  : 1vw;
$size3  : 2.5vw;
$size4  : 1vw;

$sizemov  : $size * 4;
$sizemov2 : $size2 * 4;
$sizemov3 : $size3 * 4;
$absolute : absolute;
$relative : relative;
$fixed    : fixed;

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
    content: "";
}

@mixin abCenter($size, $position){
    position: $position;
    @if $position == $fixed {
        top:10px;
    } @else {
        top:calc(50% - #{$size * 0.5});
    }
    left:calc(50% - #{$size * 0.5});
}

@mixin abCenterTop($size){
    position: absolute;
    top:calc(50% - #{$size * 0.5});
}

#logo-ancaor{
    // transition-property: position;
    // transition-duration: 2s;
    // transition-timing-function: linear;
}

.ancaor {
    z-index: 3;
    img{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        animation: imgAnimation 1s  linear;
    }

    @include abCenter($size, $absolute);

    @media (max-width: 400px) {
        @include abCenter($sizemov, $absolute);
    }

    display: flex;
    margin: auto;
    align-items: center;
    &__isotipo {
        @include circle($size);
        @media (max-width: 400px) {
            @include circle($sizemov);
        }
        background: $primary;
        margin: auto;
        position: relative;
        &::after {
            @include circle($size * 0.9);
            @media (max-width: 400px) {
                @include circle($sizemov * 0.9);
            }
            background: $secundary;
            @include abCenter($size * 0.9, $absolute);
            @media (max-width: 400px) {
                @include abCenter($sizemov * 0.9, $absolute);
            }
            animation: opacityAnimation 1s  linear;
        }
    }

    &__text {
        top: 0;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;

        p {
            color: white;
            font-weight: 700;
            font-size: 21px;
        }
    }
    &__diamond {
        width: 0;
        height: 0;
        border-right: 1vw solid transparent;
        border-top: $size2 solid transparent;
        border-left: 1vw solid transparent;
        border-bottom: $size2 solid $primary;
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        &::after {
            content: '';
            position: absolute;
            left: -1vw;
            right: 0;
            margin: auto;
            top: $size2;
            width: 0;
            height: 0;
            border-top: 1.5vw solid #d32f2f;
            border-right: 1vw solid transparent;
            border-left: 1vw solid transparent;
        }
    }

    &__left {
        height: 10px;
    }
}

.ancaor-top {
    z-index: 3;
    img{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        animation: imgAnimation 1s  linear;
    }
    @include abCenter($size3, $fixed);
    display: flex;
    margin: auto;
    align-items: center;
    &__isotipo {
        @include circle($size3);
        @media (max-width: 400px) {
            @include circle($sizemov3);
        }
        background: $primary;
        margin: auto;
        position: relative;
        &::after {
            @include circle($size3 * 0.9);
            background: $secundary;
            @include abCenter($size3 * 0.9, $fixed);
            animation: opacityAnimation 1s  linear;
        }
    }

    &__text {
        top: 0;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;

        p {
            color: white;
            font-weight: 700;
            font-size: 21px;
        }
    }
    &__diamond {
        width: 0;
        height: 0;
        border-right: 1vw solid transparent;
        border-top: $size4 solid transparent;
        border-left: 1vw solid transparent;
        border-bottom: $size4 solid $primary;
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        &::after {
            content: '';
            position: absolute;
            left: -1vw;
            right: 0;
            margin: auto;
            top: $size4;
            width: 0;
            height: 0;
            border-top: 1.5vw solid #d32f2f;
            border-right: 1vw solid transparent;
            border-left: 1vw solid transparent;
        }
    }

    &__left {
        height: 10px;
    }
}
// @keyframes mostrar {
//     0% {
//         @include abCenterTop($size*5);
//     }
//     50% {
//         @include abCenterTop($size*3);
//     }
//     100% {
//         @include abCenter($size * 0.9);
//     }
// }

@keyframes imgAnimation{
    0% {
        width: 10%;
     }
     50% {
        width: 50%;
     }
     100% {
        width: 100%;
     }
}

// #diamond-narrow {
//     width: 0;
//     height: 0;
//     border: 50px solid transparent;
//     border-bottom: 70px solid red;
//     position: relative;
//     top: -50px;
//   }
//   #diamond-narrow:after {
//     content: '';
//     position: absolute;
//     left: -50px;
//     top: 70px;
//     width: 0;
//     height: 0;
//     border: 50px solid transparent;
//     border-top: 70px solid red;
//   }

#inicio-ancaor {
    background-color: #313131;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#project-ancaor {
    background: url('/assets/images/fondos/fondo6.jpg');
    background-size: cover;
    position: relative;
}

#art-ancaor {
    background: url('/assets/images/fondos/fondo12.jpg');
    background-size: cover;
    position: relative;
}

.theme-ancaor {
    .contenido {
        position: absolute;
        width: 100%;
        .row {
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .title {
                color :white;
                text-align: center;
                margin-top: 10%;
            }
        }
    }
    .contenido-inicio {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        .row1 {
            width: 50%;
            .circle {
                cursor: pointer !important;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 8vw;
                height: 8vw;
                border-radius: 50%;
                background: $secundary;
                color: white;
                -webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.75);
                &_about {
                    cursor: pointer !important;
                    position: absolute;
                    left: 14vw;
                    top: 30vw;
                }
                &_project {
                    cursor: pointer !important;
                    top: 19vw;
                    left: 8vw;
                    position: absolute;
                }
            }
        }
        .row2 {
            width: 50%;
            display: block;
            position: relative;
            .images {
                display: block;
                position: relative;
                .teclado {
                    position: absolute;
                    top: 109px;
                    svg {
                        width: 200px;
                    }
                }
                .web {
                    width: 300px;
                    position: absolute;
                    left: 259px;
                    transform: rotate(-5deg);
                }
            }
        }
    }
}

.scale{
    transition: transform .3s linear;
    transform: scale(0.45);
    position: fixed;
    top: 0;
    transform-origin:top;
}

.comming {
    margin-top: 10% !important;
}