section.theme-ancaor.height-100(id="inicio-ancaor")
    .contenido-inicio
        .row1
            .circle.circle_about.mat-body-1 Sobre mí
            .circle.circle_project.mat-body-1 Proyectos
        .row2
            .images
                teclado-svg.teclado(width="200px")
                web-svg.web(width="300px")