.theme-ancaor
    mat-toolbar(color="primary")
        mat-toolbar-row
            p.m-auto.t-ancaor Ancaor
            //- span.example-spacer
            //- mat-icon.example-icon favorite
            //- mat-icon.example-icon delete